.span-15.box
  .left.list
    %span.number.left.clear= "#{item_number}."
    %span.list-item
      %span
        Add a
        = succeed "?" do
          %span.orange Hashtag
        (or
        = "#{item_number + 1})"
    %br/
  .content-bubble.left.clear.span-6
    .bubble-top
    .bubble-body
      %p We make it easy to get out to more people. Choose as many tags as you like!
    .bubble-bottom
  #mashout-hashtag-checkboxes.span-9.left
    .left.span-4
      %input{:name => "mashout-hashtag[]", :type => "checkbox", :value => URI.encode("#Shoutout")}
      %label #Shoutout
      %input{:name => "mashout-hashtag[]", :type => "checkbox", :value => URI.encode("#ff")}
      %label #ff
      %input{:name => "mashout-hashtag[]", :type => "checkbox", :value => URI.encode("#TFB")}
      %label #TFB
      %input{:name => "mashout-hashtag[]", :type => "checkbox", :value => URI.encode("#TeamFollowBack")}
      %label #TeamFollowBack
      %input{:name => "mashout-hashtag[]", :type => "checkbox", :value => URI.encode("#F4F")}
      %label #F4F
    .left.span-4
      %input{:name => "mashout-hashtag[]", :type => "checkbox", :value => URI.encode("#FollowForFollow")}
      %label #FollowForFollow
      %input{:name => "mashout-hashtag[]", :type => "checkbox", :value => URI.encode("#Gratitude")}
      %label #Gratitude
      %input{:name => "mashout-hashtag[]", :type => "checkbox", :value => URI.encode("#SO")}
      %label #S/O
      %input{:name => "mashout-hashtag[]", :type => "checkbox", :value => URI.encode("#ThankYou")}
      %label #ThankYou
      %input{:name => "mashout-hashtag[]", :type => "checkbox", :value => URI.encode("#Tweeps")}
      %label #Tweeps
  %hr.space/

