.span-15.box
  .left.list
    %span.number.left.clear= "#{item_number}."
    %span.list-item
      %span
        Add a
        = succeed "?" do
          %span.orange Hashtag
        (or
        = "#{item_number + 1})"
    %br/
  #mashout-hastag
    .help.clear
      %span.icon
      %p.message We make it easy to get out to more people. Choose as many tags as you like!
    #mashout-hashtag-checkboxes.span-13.left
      %input{:type => 'hidden', :id => 'hidden-hashtags', :name => 'hidden-hashtags'}
      - hashtags.in_groups_of((hashtags.count.to_f / 2.to_f).round, false).each do |hashtag_list|
        .left.span-6
          = render :partial => 'hashtag', :collection => hashtag_list, :as => 'hashtag'
      %a{:id => 'new-hashtag', :class => 'clear right'}
        Add Hashtag
      :javascript
        $(function() {
          initializeNewHashtagListeners("#{user_hashtags_url}")
        })
    %hr.space/

