/ sidebar
#sidebar.right
  / floating sidebar
  #ready-to-mashout
    .content
      %h3.left.orange.inset-type
        Ready to MASHOUT?
      #quote
        .top
        .body
          .box
            %p
              %span#mashout-chars-left
                140
              Characters Left
            .clear.left
              = form_tag form_path do
                %textarea#out-preview{:maxlength => '140', :name => 'out'}
                  = @out
                .left.network-toggle
                  = render 'twitter_network_button'
                  = render 'facebook_network_button'
                  - if params[:action] == 'blastout'      
                    = render 'youtube_network_button'
                .right
                  %input.button{:id => 'preview-out', :type => "submit", :value => "Preview"}
                  %input.button{:id => 'send-out', :type => "submit", :value => "Send", :onclick => 'return false;'}
                  %input.button{:id => 'preview-clear-out', :type => "submit", :value => "Cancel"}
        .bottom
  :javascript
    $(function() { bindMashoutPreviewClick("#{mashout_preview_path}"); });
    $(function() { bindMashoutClearPreviewClick(); });
      
