#mashout-target-container.span-9.left.ui-combobox
  %select{:id => 'mashout-target-selection', :name => 'mashout-target-selection', :style => "display: none;"}
    %option{:value => "NONE"} None
    %option{:value => "FOLLOWER"} Follower Tweeps (Twitter Users Following Me)
    %option{:value => "FOLLOWED_BY_I_FOLLOW"} Tweeps (I follow/Am followed by)
    %option{:value => "I_FOLLOW"} I Follow (Tweople who haven't reciprocated...YET)
    %option{:value => "TODAYS_MENTIONS"} Today's @Mentions
    %option{:value => "TODAYS_SHOUTOUTS"} Today's #shoutouts
    %option{:value => "TODAYS_RTS"} Today's #RT's (Your Tweets retweeted)
    %option{:value => "BESTIES"} Your Twitter Besties
    %option{:value => "CELEB_VERIFIED"} Celeb/Verified Accounts
  :javascript
    $(function() { bindDynamicPreviewAutoCompleteSelectAndHandleTarget('#mashout-target-container', '#mashout-target-selection', '#hidden-targets', '#out-preview'); });
  - if defined? @targets
    #target-tweet-list
    - if not @targets.nil? and @targets.count > 0
      #mashout-target-checkboxes
        %br/
        - @targets.each do |key, statuses|
          - first_target = statuses.shift
          .target-content
            - if not first_target.nil?
              - sanitized_screen_name = sanitize_twitter_screen_name(first_target[:screen_name])
              .append-bottom
                %input{:id => "mashout-target-#{sanitized_screen_name}", :name => "mashout-target-#{sanitized_screen_name}", :type => 'checkbox'}/
                %label= first_target[:screen_name]
                %img{:src => first_target[:profile_image_url], :style => 'width:45px; height:45px;'}/
                :javascript
                  $(function() { bindMashoutMasterTargetToChildTargets("mashout-target-#{sanitized_screen_name}"); });
              = render 'target_tweets', :target => first_target, :sanitized_screen_name => sanitized_screen_name
            - if statuses.count > 0
              .span-6.prepend-1
                %p
                  %em
                    %a{:href => '#', :id => 'target-tweets-toggle'}= pluralize(statuses.count, 'more tweet') << '...'
              :javascript
                $(function() { bindMashoutShowMoreTweets(); });
              #target-tweets-slider{:style => 'display:none;'}
                - statuses.each do |target|
                  = render 'target_tweets', :target => target, :sanitized_screen_name => sanitized_screen_name
      - elsif not @profiles.nil? and @profiles.count > 0
        #mashout-target-checkboxes
          %br/
          - @profiles.each do |profile|
            - sanitized_screen_name = sanitize_twitter_screen_name(profile[:screen_name])
            .target-content
              .append-bottom
                - profile_id = "mashout-profile-#{sanitized_screen_name}"
                %input{:id => profile_id, :name => "mashout-targets[]", :type => 'checkbox', :value => "#{profile[:screen_name]}", :class => "mashout-target-#{sanitized_screen_name} target-checkbox"}
                %label= profile[:screen_name]
                %img{:src => profile[:profile_image_url], :style => 'width:45px; height:45px;'}/
                :javascript
                  $(function() { bindDynamicPreviewCheckboxClick('##{profile_id}', '#hidden-targets', '#out-preview'); });
              .span-6.prepend-1
                %p
                  %em= profile[:description]
                %p
                  = profile[:location]

      - elsif defined? @target and @target != 'NONE'
        %p No tweets were found
  %input{:id => 'hidden-targets', :type => 'hidden', :value => ''}
  :javascript
    bindTargetAutoCompleteSelectAndHandle('#mashout-target-container', '#mashout-target-selection', "#{target_source_path}")

