#mashout-trend
  .help.clear
    %span.icon
    %p.message Pick a Top Trend Source
  #mashout-trend-container.span-9.left.ui-combobox
    %select{:id => 'mashout-trend-selection', :name => 'trend-source', :style => "display: none;"}
      %option{:value => 'NONE'} None
      %option{:value => 'Twitter'} Twitter
      %option{:value => 'Google'} Google
      %option{:value => 'Trendspottr'} Trendspottr
  - if defined? @trend_source and @trend_source == 'Trendspottr'
    .content-bubble.span-6.left.clear
      .bubble-top
      .bubble-body
        %p Select a Filter
      .bubble-bottom
    #mashout-location-container.span-9.left.ui-combobox
      %select{:id => 'mashout-trendspottr-selection', :name => 'trend-filter', :style => "display: none;"}
        %option{:value => 'Twitter'} Twitter
        %option{:value => 'Facebook'} Facebook
        %option{:value => 'NONE'} None
    .content-bubble.span-6.left.clear
      .bubble-top
      .bubble-body
        %p Type a query
      .bubble-bottom
    #mashout-trendspottr-container.span-9.left
      %input.span-7{:id => 'trendspottr-query', :type => "text"}
      %input.submit.button{:id => 'trendspottr-search', :type => 'submit', :value => 'Search'}
      :javascript
        $(function() { decorateMashoutTrendAutoCompleteSelect(); });
    - if @topics or @searches
      .content-bubble.span-6.left.clear
        .bubble-top
        .bubble-body
          %p Pick a Trend
        .bubble-bottom
      #mashout-trendspottr-container.span-9.left
        .span-4.left
          %strong 
            %em Trending Topics
          %hr.space
          - if @topics
            - @topics.each do |topic|
              %input{:id => 'mashout-trendspottr-topics', :name => "mashout-topics[]", :type => "checkbox", :value => topic}
              %label= topic
        .span-4.left
          %strong
            %em Trending Searches
          %hr.space
          - if @searches
            - @searches.each do |search|
              %input{:id => 'mashout-trendspottr-searches', :name => "mashout-search[]", :type => "checkbox", :value => search}
              %label= search
  - if defined? @trend_source and @trend_source == 'Twitter'
    .help.clear
      %span.icon
      %p.message Pick a Location
    #mashout-location-container.span-9.left.ui-combobox
      %select{:id => 'mashout-location-selection', :name => 'trend-location', :style => "display: none;"}
        %option{:value => 'NONE'} None
        - @locations.each do |location|
          %option{:value => location[:value]}= location[:name]
    :javascript
      $(function() { bindTrendAutoCompleteSelectAndHandle('#mashout-location-container', '#mashout-location-selection', "#{trend_source_path}"); });
    - if defined? @trend_region and @trend_region.present? and @regions.present? and @regions.count > 0
      .help.clear
        %span.icon
          %p.message Pick a Region
      #mashout-region-container.span-9.left.ui-combobox
        %select{:id => 'mashout-region-selection', :name => 'trend-region', :style => 'display: none;'}
          %option{:value => 'NONE'} None
          - @regions.each do |region|
            %option{:value => region[:value], :selected => @trend_woeid.to_s == region[:value].to_s ? 'selected' : nil}= region[:name]
      :javascript
        $(function() { bindTrendAutoCompleteSelectAndHandle('#mashout-region-container', '#mashout-region-selection', "#{trend_source_path}"); });
    - if defined? @trends and @trends.count > 0
      .help.clear
        %span.icon
        %p.message Pick a Twitter Trend
      #mashout-twitter-container.span-9.left.ui-combobox
        #mashout-trend-checkboxes
          - count = 0
          - @trends.each do |trend|
            - id = "mashout-trend-#{count += 1}"
            %input{:id => id, :name => "mashout-trend[]", :type => "checkbox", :value => "#{URI.encode(trend[:value])}"}
            %label= trend[:name]
            %br/
            :javascript
              $(function() { bindDynamicPreviewCheckboxClick("##{id}", '#hidden-trends', '#out-preview'); });
  - if defined? @trend_source and @trend_source == 'Google'
    .help.clear
      %span.icon
      %p.message Pick a Google Trend
    #mashout-google-container.span-9.left.ui-combobox
      #mashout-trend-checkboxes
        - count = 0
        - @trends.each do |trend|
          - id = "mashout-trend-#{count += 1}"
          %input{:id => id, :name => "mashout-trend[]", :type => "checkbox", :value => "#{URI.encode(trend[:value])}"}
          %label= trend[:name]
          %br/
          :javascript
            $(function() { bindDynamicPreviewCheckboxClick("##{id}", '#hidden-trends', '#out-preview'); });
  %input{:id => 'hidden-trends', :type => 'hidden', :value => ''}
  :javascript
    $(function() { bindTrendAutoCompleteSelectAndHandle('#mashout-trend-container', '#mashout-trend-selection', "#{trend_source_path}"); });

