%hr.space
%strong
  %em Search Results
%hr.space
- if @trends.any?
  %input{:id => 'hidden-trendspottr-trends', :type => :hidden}
  %input{:id => 'hidden-trendspottr-targets', :type => :hidden}
  - @trends.group_by { |trend| trend[:type] }.each do |trend_type, trends|
    %strong
      %em= trend_type.titleize << ':'
    %hr.space
    - trends.in_groups_of(10, false).each_with_index do |trend_group, trend_group_index|
      .span-6.left
        - trend_group.each_with_index do |trend, trend_index|
          - id = "mashout-trend-#{trend_type}-#{trend_group_index * 10 + trend_index}"
          %input{:id => id, :name => trend[:type] == 'sources' ? 'mashout-trendspottr-targets[]' : "mashout-trendspottr-trends[]", :type => "checkbox", :value => "#{URI.encode(trend[:value])}"}
          %label{:for => id}
            - if trend[:type] == 'links'
              = link_to(trend[:name], trend[:name], :class => 'fancybox iframe')
            - else
              = trend[:name]
          - if %w(links hashtags phrases).include?(trend[:type])
            :javascript
              $(function() { bindDynamicPreviewCheckboxClick("##{id}", '#hidden-trendspottr-trends', '#out-preview'); });
          - else
            :javascript
              $(function() { bindDynamicPreviewCheckboxClick("##{id}", '#hidden-trendspottr-targets', '#out-preview'); });
    - if @trends.select{|trend| trend[:type] == 'links'}.any?
      :javascript
        $(function() { $('.fancybox').fancybox({width: 1024, height: 768 }) })
    - if trend_type != 'sources'
      %hr.space
- else
  No results.

