<%- if params[:action] == 'blastout' %>
  <div class='span-1 left'>
    <input type="radio" name="mashout-video" value=<%= "#{video.guid}" %> class='mashout-video' />
  </div>
<% end %>
<%= render 'nimbb_video', :video => video %>
<h4><%= video.name %></h4>
<a id='<%= "delete-video-#{video.guid}" %>' rel='nofollow' href='#'>Delete</a>
|
<a id='<%= "edit-video-#{video.guid}" %>' rel='nofollow' href='#'>Edit</a>
<div id='<%= "edit-video-container-#{video.guid}" %>' class='edit-video-container'>
  <input id='<%= "edit-video-name-#{video.guid}" %>' type='text' name='edit-video-name-#{video.guid}' />
  &nbsp;
  <input id='<%= "edit-video-button-#{video.guid}" %>' type='button' value='Save' class='button' />
  <p>
    <span id='<%= "edit-video-name-message-#{video.guid}" %>'>&nbsp;</span>
  </p>
</div>
<script type='text/javascript'>
    //<![CDATA[
    $(function() {
        function onUpdateVideo(response, status, xhr) {
            var contentType = xhr.getResponseHeader('content-type') || '';
            var isHtml      = contentType.indexOf('html') > -1;
            var isText      = contentType.indexOf('text') > -1;
            
            if(isHtml) {
              $('#videos').replaceWith(response);
            } else if(isText) {
              $('<%= "#edit-video-name-message-#{video.guid}" %>').html(xhr.responseText);
            }
        }
    
        $('<%= "#delete-video-#{video.guid}" %>').click(function() {
            $.ajax({url:'<%= "#{delete_video_path(video.guid)}" %>',
                    type: 'DELETE',
                    success: function(data) { $('#videos').replaceWith(data); },
                    async: false
            });

            return false;
        });
        
        $('<%= "#edit-video-#{video.guid}" %>').click(function() {
            $('<%= "#edit-video-container-#{video.guid}" %>').show();
            return false;
        });
        
        $('<%= "#edit-video-button-#{video.guid}" %>').click(function() {
            $.ajax({url:'<%= update_video_path(video.guid) %>',
                    type: 'POST',
                    data: {'name': $('<%= "#edit-video-name-#{video.guid}" %>').val()},
                    success: function(response, status, xhr) { onUpdateVideo(response, status, xhr); },
                    async: false
            });
        });
    });
    //]]>
</script>

