- content_for :content_body do
  / content section
<<<<<<< HEAD
  Mashoutable's dashboard can save you time and effort by making your social media efforts easy with our easy to use social media services that boost your twitter followers. Our social media tools such as our
	= succeed "," do
	%a{:href => " http://www.mashoutable.com/TargMashoutDesc.aspx "} Targeted MASHOUT
	%a{:href => " http://www.mashoutable.com/VideoBODesc.aspx "} Video BLASTOUT
	and
	= succeed "," do
	%a{:href => " http://www.mashoutable.com/TopTrendDesc.aspx "} Top Trend SHOUTOUT
  you can easily and quickly provide useful information to all of your followers. The
	%strong Mashoutable dashboard
  makes it easy for you to use
	= succeed "and" do
	%a{:href => " http://www.mashoutable.com/ "} social media tools
  services by setting up an automatic social burst of information on multiple websites to tell all of your followers and friends what they need to know when they need to know it. You can tell people about a new thing you are following and why you are following them, tell them about an event you are involved with or anything under the sun that you need to get out to the masses. Mashoutable provides efficient
	%a{:href => " http://www.mashoutable.com/ "} social media services
  that will impact your business for the better while still getting your message out to your followers.
  #hours-saved.clear
    %h3
      Mashoutable has saved you
      %span.counter
        9
      hours and
      %span.counter
        4
      %span.counter
        0
      minutes
=======
>>>>>>> 181c0104f2beb3b0c9b0bbc8f38b5873aa55495e
  #tool-buttons.left.clear
    .button.left
      %h4.mashout.inset-type
        %a{:href => "#{dashboard_mashout_path}"}
          %span.orange
            &#35;Targeted
          MASHOUT&#8482;
    .button.left
      %h4.left.blastout.inset-type
        %a{:href => "#{dashboard_blastout_path}"}
          %span.blue
            &#35;Video
          BLASTOUT&#8482;
    .button.left
      %h4.left.shoutout.inset-type
        %a{:href => "#{dashboard_shoutout_path}"}
          %span.green
            &#35;Top Trend
          SHOUTOUT&#8482;
    .button.left
      .in-development
      %h4.left.pickout.inset-type
        %a{:href => "#", :onclick => 'return false'}
          %span.red
            &#35;Credible Winner
          PICKOUT&#8482;
    .button.left
      .in-development
      %h4.left.lookout.inset-type
        %a{:href => "#", :onclick => 'return false'}
          %span.orange
            &#35;Lookout
          LOOKOUT&#8482;
    .button.left
      %h4.left.coming-soon.inset-type
        %a{:href => "#"} &#35;COMING SOON
  #dropdown-buttons.left.clear
    .button.left
      .soon
      %h4.left.inset-type
        %a{:href => "#", :id => "pickouts", :onclick => 'return false'} MY PICKOUTS
    .button.left
      .soon
      %h4.left.inset-type
        %a{:href => "#", :id => "analytics", :onclick => 'return false'} OUT.AM ANALYTICS
    .button.left
      %h4.left.inset-type
        %a{:href => "#", :id => "networks"} CONNECTED NETWORKS
    .pickouts.clear.hidden.left
      %h4 My Pickouts
      %p
        Comming Soon!
    .analytics.clear.hidden.left
      %h4 OUT.AM Analytics
      %p
        Comming Soon!
    .networks.clear.hidden.left
      %h4 Connected Networks
      .network-toggle.left
        .left.clear.item
          %input.left.clear{:id => 'toggle-twitter', :value => '', :type => 'submit'}
          :javascript
            $(function() { enableNetworkButton('#toggle-twitter', false); });
            $(function() { bindNetworkToggleButton('#toggle-twitter', '#networks-network-twitter'); });
          %input.left.clear{:id => 'toggle-facebook', :value => '', :type => 'submit'}
          :javascript
            $(function() { enableNetworkButton('#toggle-facebook', false); });
            $(function() { bindNetworkToggleButton('#toggle-facebook', '#networks-network-facebook'); });
          %input.left.clear{:id => 'toggle-youtube', :value => '', :type => 'submit'}
          :javascript
            $(function() { enableNetworkButton('#toggle-youtube', false); });
            $(function() { bindNetworkToggleButton('#toggle-youtube', '#networks-network-youtube'); });
        .description.left
          %span.network-arrow.left
          %p.right
            Click the favicons to connect/disconnect your Social Networks
      %input.span-3.left.clear{:value => 'Save', :type => 'submit'}
  #extra-info.left
    = render 'besties'
    = render 'dashboard_videos'
    = render 'interactions'
  :javascript
    bindSettingsPanelButton('networks');

