- content_for :content_body do
  / content section
  Mashoutable's dashboard can save you time and effort by making your social media efforts easy with our easy to use social media services that boost your twitter followers. Our social media tools such as our
	= succeed "," do
	%a{:href => " http://www.mashoutable.com/TargMashoutDesc.aspx "} Targeted MASHOUT
	%a{:href => " http://www.mashoutable.com/VideoBODesc.aspx "} Video BLASTOUT
	and
	= succeed "," do
	%a{:href => " http://www.mashoutable.com/TopTrendDesc.aspx "} Top Trend SHOUTOUT
  you can easily and quickly provide useful information to all of your followers. The
	%strong Mashoutable dashboard
  makes it easy for you to use
	= succeed "and" do
	%a{:href => " http://www.mashoutable.com/ "} social media tools
  services by setting up an automatic social burst of information on multiple websites to tell all of your followers and friends what they need to know when they need to know it. You can tell people about a new thing you are following and why you are following them, tell them about an event you are involved with or anything under the sun that you need to get out to the masses. Mashoutable provides efficient
	%a{:href => " http://www.mashoutable.com/ "} social media services
  that will impact your business for the better while still getting your message out to your followers.
  #hours-saved.clear
    %h3
      Mashoutable has saved you
      %span.counter
        9
      hours and
      %span.counter
        4
      %span.counter
        0
      minutes
  #tool-buttons.left.clear
    .button.left
      %h4.mashout.inset-type
        %a{:href => "#{dashboard_mashout_path}"}
          %span.orange
            &#35;Targeted
          MASHOUT&#8482;
    .button.left
      %h4.left.blastout.inset-type
        %a{:href => "#{dashboard_blastout_path}"}
          %span.blue
            &#35;Video
          BLASTOUT&#8482;
    .button.left
      %h4.left.shoutout.inset-type
        %a{:href => "#{dashboard_shoutout_path}"}
          %span.green
            &#35;Top Trend
          SHOUTOUT&#8482;
    .button.left
      .in-development
      %h4.left.pickout.inset-type
        %a{:href => "#{dashboard_pickout_path}"}
          %span.red
            &#35;Credible Winner
          PICKOUT&#8482;
    .button.left
      .in-development
      %h4.left.lookout.inset-type
        %a{:href => "#"}
          %span.orange
            &#35;Lookout
          LOOKOUT&#8482;
    .button.left
      %h4.left.coming-soon.inset-type
        %a{:href => "#"} &#35;COMING SOON
  #dropdown-buttons.left.clear
    .button.left
      .soon
      %h4.left.inset-type
        %a{:href => "#", :id => "pickouts"} MY PICKOUTS
    .button.left
      .soon
      %h4.left.inset-type
        %a{:href => "#", :id => "analytics"} OUT.AM ANALYTICS
    .button.left
      %h4.left.inset-type
        %a{:href => "#", :id => "networks"} CONNECTED NETWORKS
    .pickouts.clear.hidden.left
      %h4 My Pickouts
      %p
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas eget enim eget ligula fringilla ultrices. Sed laoreet, est in pulvinar tincidunt, purus tellus vestibulum leo, eu consequat felis lacus id mi. Vivamus ligula nisi, pretium ultricies lacinia nec, vestibulum eu elit. Sed nec massa eget mi posuere pharetra. Integer ac mauris ut lectus viverra adipiscing. Sed eleifend vehicula leo, aliquam lobortis odio interdum vehicula. Duis mi elit, lacinia eget ornare et, pellentesque sit amet justo.
    .analytics.clear.hidden.left
      %h4 OUT.AM Analytics
      %p
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas eget enim eget ligula fringilla ultrices. Sed laoreet, est in pulvinar tincidunt, purus tellus vestibulum leo, eu consequat felis lacus id mi. Vivamus ligula nisi, pretium ultricies lacinia nec, vestibulum eu elit. Sed nec massa eget mi posuere pharetra. Integer ac mauris ut lectus viverra adipiscing. Sed eleifend vehicula leo, aliquam lobortis odio interdum vehicula. Duis mi elit, lacinia eget ornare et, pellentesque sit amet justo.
    .networks.clear.hidden.left
      %h4 Connected Networks
      .network-toggle.left
        .left.clear.item
          %input.left{:id => 'toggle-twitter', :value => '', :type => 'submit'}
          :javascript
            $(function() { enableNetworkButton('#toggle-twitter', false); });
            $(function() { bindNetworkToggleButton('#toggle-twitter', '#networks-network-twitter'); });
          %span.left
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas eget enim eget ligula fringilla ultrices. Sed laoreet, est in pulvinar tincidunt, purus tellus vestibulum leo, eu consequat felis lacus id mi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas eget enim eget ligula fringilla ultrices. Sed laoreet, est in pulvinar tincidunt, purus tellus vestibulum leo, eu consequat felis lacus id mi.
        .left.clear.item
          %input.left{:id => 'toggle-facebook', :value => '', :type => 'submit'}
          :javascript
            $(function() { enableNetworkButton('#toggle-facebook', false); });
            $(function() { bindNetworkToggleButton('#toggle-facebook', '#networks-network-facebook'); });
          %span.left
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas eget enim eget ligula fringilla ultrices. Sed laoreet, est in pulvinar tincidunt, purus tellus vestibulum leo, eu consequat felis lacus id mi.
        .left.clear.item
          %input.left{:id => 'toggle-youtube', :value => '', :type => 'submit'}
          :javascript
            $(function() { enableNetworkButton('#toggle-youtube', false); });
            $(function() { bindNetworkToggleButton('#toggle-youtube', '#networks-network-youtube'); });
          %span.left
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas eget enim eget ligula fringilla ultrices. Sed laoreet, est in pulvinar tincidunt, purus tellus vestibulum leo, eu consequat felis lacus id mi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas eget enim eget ligula fringilla ultrices. Sed laoreet, est in pulvinar tincidunt, purus tellus vestibulum leo, eu consequat felis lacus id mi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas eget enim eget ligula fringilla ultrices. Sed laoreet, est in pulvinar tincidunt, purus tellus vestibulum leo, eu consequat felis lacus id mi.
      %input.span-3.left{:value => 'Save', :type => 'submit'}
  #extra-info.left
    = render 'besties'
    = render 'dashboard_videos'
    = render 'interactions'
  :javascript
    bindSettingsPanelButton('pickouts');
    bindSettingsPanelButton('analytics');
    bindSettingsPanelButton('networks');

