!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %link{:href => "http://mashout.greanetree.com/favicon.png", :rel => "icon", :type => "image/png"}
    %title Mashoutable
    = stylesheet_link_tag     'application', :media => 'all'
    = stylesheet_link_tag     'application-print', :media => 'print'
    = yield :optional_css
    /[if IE]
      = stylesheet_link_tag   'application-ie', :media => 'all'
      = stylesheet_link_tag   'ie', :media => 'all'
    /[if IE 7]
      = stylesheet_link_tag   'ie7', :media => 'all'
    = javascript_include_tag  'application'
    = yield :optional_javascript
    = csrf_meta_tags
  %body
    / body wrapper
    #wrapper
      / feedback floater
      %a#feedback{:href => "#", :style => "margin-top: 0px;"} Feedback
      / container
      .container.content.clear
        / top section
        #top.clear
          / top-black bar
          %p#top-bar.clear Mashoutable™: Free tools to Amplify Your Social Media Development
          / header
          #header
            / header logo
            #logo.left
              %a{:href => "/"}
                %img{:alt => "Mashoutable", :src => "#{asset_path('logo.png')}"}
            / navigation and time savings
            #navigation-social.right.last
              = render 'shared/login'
              / navigation
              #h-navigation
                %ul.right.last.clear
                  = render 'shared/navigation_link', :href => '/', :controller_name => 'content', :action_name => 'home', :name => 'Home'
                  = render 'shared/navigation_link', :href => "#{dashboard_path}", :controller_name => 'dashboard', :name => 'Tools'
                  = render 'shared/navigation_link', :href => "#{about_us_path}", :controller_name => 'content', :action_name => 'about_us', :name => 'About Us'
                  = render 'shared/navigation_link', :href => "#{blog_path}", :controller_name => 'content', :action_name => 'blog', :name => 'Blog'
                  = render 'shared/navigation_link', :href => "#{contact_us_path}", :controller_name => 'content', :action_name => 'contact_us', :name => 'Contact Us'
            %hr.space
          - if flash[:notice]
            %p.notice= flash[:notice]
          - if flash[:error]
            %p.error= flash[:error]
          - if flash[:success]
            %p.success= flash[:success]
          %noscript
            %p.error You need javascript for this site to function properly
          = yield :body
    = yield :optional_body
    / footer wrapper
    #footer.clear
      #blog-twitter
        #footer-divider.clear
        / footer container
        .container
          / footer blog section
          #blog.left
            %span.title.left From the Blog:
            / footer first blog item
            .entry.clear
              .left.blog-date
                %span.day 05
                %span.month SEP
              .left.blog-desc.span-6
                %span.title
                  =truncate("Mashoutable™ Social Media!", :length => 25)
                %span.category Posted in Uncategorized
                %p
                  =truncate("Welcome to Mashoutable™!  We enhance and simplify the Social Media User’s ability to discover, engage, and interact across the Social Web.", :length => 130)
                  %br/
                  %br/
                  %a{:href => blog_path} Read More
            / footer second blog item
            .entry
              .left.blog-date
                %span.day 12
                %span.month MAR
              .left.blog-desc.span-6
                %span.title
                  =truncate("Mashoutable™ News", :length => 25)
                %span.category Posted in News
                %p
                  =truncate("Here you will be able to find vital and/or breaking news regarding Mashoutable™ products/services, partnerships, awesome users, and Mashoutable™ usage achievements!", :length => 130)
                  %br/
                  %br/
                  %a{:href => "http://mashoutable.wordpress.com/mashoutable-news/", :target => "_blank"} Read More
          / footer twitter section
          #twitter.right.last
            %span.title.left Twitter:
            .left
              .tweet
              .twitter-bird.right
                %span.icon
      / footer back to top icon
      #back-to-top.clear
        .container
          .right.last
            %a{:href => "#top"}
              %img{:alt => "Back To Top", :src => "#{asset_path('footer-back-to-top.png')}"}
      / footer bottom bar wrapper
      #navigation-copyright.clear
        / footer bottom bar container
        .container
          / footer bottom bar navigation
          #f-navigation.left
            %ul
              %li
                %a{:href => home_path} Home
              %li
                %a{:href => dashboard_path} Tools
              %li
                %a{:href => about_us_path} About Us
              %li
                %a{:href => blog_path} Blog
              %li
                %a{:href => contact_us_path} Contact Us
          / footer bottom bar copyright notice and social media icons
          #copyright.right.last
            %a.facebook{:href => "http://www.facebook.com/mashoutable", :target => "_blank"}
              %span.icon.left
            %a.twitter{:href => "http://www.twitter.com/mashoutable", :target => "_blank"}
              %span.icon.left
            %span.left Copyright 2011 Mashoutable.com

